
.login_container{
    background: linear-gradient(to right,#FEAF00, #feae00a1);

}
.left_line_style{
    width: fit-content;
    border-left: 6px solid #F8D442;
}
.sideBarContainer{
    background-color:  bisque;


}
.ps-menu-button:hover{
    background-color: #FEAF00 !important;
    color: white !important;
}
